@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 265 89% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 265 89% 95%;
    --secondary-foreground: 265 89% 40%;

    --muted: 265 10% 96.1%;
    --muted-foreground: 265 5% 45.1%;

    --accent: 265 89% 97%;
    --accent-foreground: 265 89% 45%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --info: 220 70% 50%;
    --info-foreground: 210 40% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 98%;

    --success: 142 72% 42%;
    --success-foreground: 138 76% 97%;

    --border: 265 10% 89.8%;
    /* --input: 265 10% 89.8%; */
    --input: 265 89% 50%;
    --ring: 265 89% 50%;

    --radius: 0.5rem;

    --chart-1: 265 89% 50%;
    --chart-2: 265 70% 60%;
    --chart-3: 265 60% 70%;
    --chart-4: 265 50% 80%;
    --chart-5: 265 40% 90%;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 98%;

    --card: 265 20% 5%;
    --card-foreground: 265 5% 98%;

    --popover: 265 20% 5%;
    --popover-foreground: 265 5% 98%;

    --primary: 265 89% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 265 20% 14.9%;
    --secondary-foreground: 265 5% 98%;

    --muted: 265 20% 14.9%;
    --muted-foreground: 265 10% 63.9%;

    --accent: 265 20% 14.9%;
    --accent-foreground: 265 5% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 265 5% 98%;

    --info: 220 70% 40%;
    --info-foreground: 210 40% 98%;

    --warning: 38 92% 40%;
    --warning-foreground: 48 96% 98%;

    --success: 142 72% 30%;
    --success-foreground: 138 76% 97%;

    --border: 265 20% 14.9%;
    --input: 265 20% 14.9%;
    --ring: 265 89% 50%;

    --chart-1: 265 89% 50%;
    --chart-2: 265 70% 60%;
    --chart-3: 265 60% 70%;
    --chart-4: 265 50% 80%;
    --chart-5: 265 40% 90%;
  }
}

@layer components {
  .border-input {
    border-color: hsl(var(--input));
    /* border-color: hsl(var(--input)); */
  }
}

@layer base {
  * {
    @apply border-gray-200 dark:border-gray-800;
  }
  body {
    @apply bg-background text-foreground;
  }
}
